html {
    font-size: 12px;
}

body {
    background-color: #000716;
    margin: 3em 5em;
}

#text {
    float: left;
    font-family: verdana;
    color: #DBDBDB;
    text-align: left;
    width: 38em;
    margin-bottom: 1em; 
    line-height: 170%;

}

a {
    color: #7da0d8;
    text-decoration: none;
}

a.navlink {
    font-family: Verdana;
    color: #8abdd6;
    text-decoration: none;
    margin-right: 2em;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

a.archives {
    float: right;
    font-size: 120%;
    letter-spacing: 0.05em;
    margin-top: 1em;
}

a.navlink.active {
    border-width: 1px;
    border-left-style: solid;
    border-bottom-style: none;
    border-right-style: solid;
    border-top-style: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 2em;
}

h3.blogtitle {
    color: silver;
    letter-spacing: 0.05em;
    font-weight: normal;
    font-size: 137%;
    clear: left;
}

#navbar {
    font-size: 120%;
    height: 16px;
    margin-bottom: 4em; 
    letter-spacing: 0.15em;
}

.blogpost {
    margin-bottom: 10em;
}

.blogfooter {
    margin-top: 0em;
}

h5.footerdate {
    float: right;
}

h5.footerlink {
    float: left;
    margin-right: 17em;	
}

#copyright {
    font-size: 0.8em;
    margin-top: 4em;
    color: #6c6d6d;
}

dd {
    margin-bottom: 2em;
}

.archivelist {
    line-height: 2em;
    font-size: 105%;
    padding-left: 2em;
}

.code {
    width: 41em;
    border-style: solid;
    border-width: 1px;
    padding-left: 1em;
    margin: 1.5em;
}

.equation {
    background-color: white;
    margin: 1.5em;
    padding: 0.5em;
}